<% content_for :title do %><%= @post.title %><% end %>
<h1><%= @post.title %> <small>by <%= @post_user.username %></small></h1>
<div class="row">
  <div class="col-md-12">
    <div class="col-md-3 col-xs-6">
      <span class="glyphicon glyphicon-eye-open"></span> 閲覧: <%= @post.pvcount %>
    </div>
    <div class="col-md-3 col-xs-6">
      <span class="glyphicon glyphicon-thumbs-up"></span> 良さ: <%= @post.nicecount %>
    </div>
    <div class="col-md-3 col-xs-6">
      <span class="glyphicon glyphicon-book"></span> 収録: 0
    </div>
    <div class="col-md-3 col-xs-6">
      <span class="glyphicon glyphicon-pencil"></span> コメ: 0
    </div>
  </div>
  <div class="col-md-10 col-sm-12">
    <ul class="list-inline">
      <% if @post.tags.count > 0 %>
        <% @post.tags.each do |t| %>
          <li><h4><a class="label label-primary" href="#notyet"><span class="glyphicon glyphicon-tag" aria-hidden="true"></span> <%= t.name %></a></h4></li>
        <% end %>
      <% else %>
        <p>タグはありません</p>
      <% end %>
    </ul>
  </div>
  <% if (user_signed_in? and current_user == @post.user) %>
    <div class="col-md-2 col-sm-12">
      <div class="bin-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          投稿メニュー <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" role="menu">
          <li>
            <%= link_to posts_edit_path(@post.id) do %>
              <span class="glyphicon glyphicon-edit"></span><%= t('.edit') %>
            <% end %>
          </li>
          <li>
            <%= link_to posts_delete_path(@post.id) do %>
              <span class="glyphicon glyphicon-trash"></span><%= t('.delete') %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="btn-group" role="group" aria-label="...">
      <button type="button" id="btn_nice" class="btn btn-default"><span class="glyphicon glyphicon-thumbs-up"></span> 良さ</button>
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal_putting"><span class="glyphicon glyphicon-book"></span> 収録する</button>
    </div>
    <script type="text/javascript">
      $('#btn_nice').tooltip({
        title     : '良さしました',
        trigger   : 'click'
      }).on('click', function () {
        /*
        $.ajax({
          url: "posts/nice",
          type: "PATCH",
          data: { 
            year : $(":selected").attr("value"),
            id: ,
            mode: 'hoge',
            type: 'entry'
          },
          dataType: "html",
          success: function(data) {
            alert("success");
          },
          error: function(data) {
            alert("errror");
          }
        });
        */
      }).hover(function() {}, function() {
        $('#btn_nice').tooltip('hide');
      });
    </script>
    <div class="modal fade" id="modal_putting" tabindex="-1" role="dialog" aria-labelledby="puttingLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">自分のコレクションに収録する</h4>
          </div>
          <div class="modal-body">
            <p>追加先のコレクションを選択してください</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">キャンセル</button>
            <button type="button" class="btn btn-primary">追加する</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja" data-size="large">ツイート</a>
    <script>
      !function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0],p = /^http:/.test(d.location) ? 'http' : 'https';
        if (!d.getElementById(id)) {
          js = d.createElement(s);
          js.id = id;
          js.src = p + '://platform.twitter.com/widgets.js';
          fjs.parentNode.insertBefore(js, fjs);
        }
      }(document, 'script', 'twitter-wjs');
    </script>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <p>
      <%= simple_format(h(@post.content)) %>
    </p>
  </div>
</div>