<!DOCTYPE html>
<html>
<head>
  <title>Kb10uy S3 - Short Story Server</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :file => 'layouts/navbar' %>
  <div class="container" id="content">
    <%= render :file => 'layouts/alerts' %>
    <%= yield %>
  </div>
  <%= render :file => 'layouts/footer' %>
</body>
</html>
