<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? (yield(:title) + " - Kb10uy S3") : "Kb10uy S3 - Short Story Server" %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render :file => 'layouts/navbar' %>
  <div class="container" id="content">
    <%= render :file => 'layouts/alerts' %>
    <%= yield %>
  </div>
  <%= render :file => 'layouts/footer' %>
</body>
</html>
