<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Kb10uy S3", root_path, :class => 'navbar-brand' %>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><%= link_to "トップ", root_path %></li>
        <li><%= link_to "一覧", posts_index_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">その他 <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><%= link_to "Kb10uy S3について", about_path %></li>
            <li><%= link_to "初めての方へ", tutorial_path %></li>
            <li><%= link_to "ポリシー関連", policy_path %></li>
            <li><%= link_to "管理者へ連絡", contact_path %></li>
          </ul>
        </li>
      </ul>
      <%= form_tag search_all_path, :method => "get", :class => 'navbar-form navbar-left' do %>
        <div class="form-group">
          <%= text_field_tag :keyword, "", :class => 'form-control', :placeholder => 'タイトルで検索' %>
        </div>
        <div class="btn-group">
          <%= button_tag "検索", :type => 'submit', :class => 'btn btn-default' %>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">他の検索</span>
          </button>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">本文検索</a></li>
            <li><a href="#">タグ検索</a></li>
            <li><a href="#">作者検索</a></li>
            <li class="divider"></li>
            <li><a href="#">ユーザー検索</a></li>
            <li><a href="#">リクエスト検索</a></li>
          </ul>
        </div>
      <% end %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "投稿する", posts_new_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <% if user_signed_in? %>
              <%= current_user.username %>でサインインしています
            <% else %>
              サインインしていません
            <% end %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" role="menu">
            <% if user_signed_in? %>
              <li><%= link_to "マイページ", mypage_path %></li>
              <li class="divider"></li>
              <li><%= link_to "サインアウト", destroy_user_session_path, :method => :delete %></li>
            <% else %>
              <li><%= link_to "サインイン", new_user_session_path %></li>
              <li class="divider"></li>
              <li><%= link_to "サインアップ", new_user_registration_path %></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
